/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Fonts
   ========================================================================== */


@font-face {
    font-family: 'MaisonNeue';
    src: url('../fonts/maisonneue-light.eot');
    src: url('../fonts/maisonneue-light.eot') format('embedded-opentype'),
         url('../fonts/maisonneue-light.woff2') format('woff2'),
         url('../fonts/maisonneue-light.woff') format('woff'),
         url('../fonts/maisonneue-light.ttf') format('truetype'),
         url('../fonts/maisonneue-light.svg#MaisonNeueLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaisonNeueMono';
    src: url('../fonts/maisonneue-mono.eot');
    src: url('../fonts/maisonneue-mono.eot') format('embedded-opentype'),
         url('../fonts/maisonneue-mono.woff2') format('woff2'),
         url('../fonts/maisonneue-mono.woff') format('woff'),
         url('../fonts/maisonneue-mono.ttf') format('truetype'),
         url('../fonts/maisonneue-mono.svg#MaisonNeueMono') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    -webkit-font-smoothing: antialiased;
    padding: 20px;
    font-family: 'MaisonNeue';
    letter-spacing: normal;
    font-weight: normal;
    background: #eee;
}

.wrapper{
    width:100%;
}

.main{
  width:960px;
  margin:0 auto;
}

a{
    text-decoration:none;
}
.button{
    overflow: hidden;
    display: inline-block;
    background: transparent url('../img/background01.jpg') no-repeat;
}
.button .inner{
    background: #fff;
    width:200px;
    height:200px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.button .inner{
    background: #fff;
    width:200px;
    height:200px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.button h1{
    margin:0;
    padding:0;
    font-size: 28px;
    font-weight: normal;
    color: #6c4eb7;
}
.button h1 a{
    color: #6c4eb7;
}
.button p{
    margin:0;
    padding:0 0 28px 0;

    font-family: 'MaisonNeueMono';
    letter-spacing: normal;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
}

.button:hover{
    /*padding:10px;
    cursor: pointer;*/
}

.button:hover .inner{
    /*width:180px;
    height:180px;*/
}

.col1{
  width:200px;
  float:left;
  padding:0 20px;
}

/*---------------Button-1---------------*/
.button_{
    background: transparent url('../img/background01.jpg') no-repeat;
	height:200px;
	width:200px;
	margin-bottom:40px;
}
.box{
	background:#fff;
	height:200px;
	width:200px;
	margin:auto;
	position:relative;
	text-align:center;
}
.box h1{
font-size:10px;
position:relative;
}

.box span.title:before{
	content:"architectuur";
    font-size: 28px;
    font-weight: normal;
    color: #6c4eb7;
}

.box span.info{
  display:none;
  margin:0;
  padding:0 0 28px 0;

  font-family: 'MaisonNeueMono';
  letter-spacing: normal;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
}

.box span.info:before{
	content:"";
}

.box span.info:after{
  content:" vacatures";
}

/*----------button-2-------*/

.button_2{
  background: transparent url('../img/background01.jpg') no-repeat;
	height:200px;
	width:200px;
  margin-bottom:40px;
}
.box2{
	background:#fff;
	height:180px;
	width:180px;
	margin:auto;
	top:10px;
	position:relative;
	text-align:center;
	display:none;
}
.box2 h1{
font-size:10px;
position:relative;
}

.box2 span.title:before{
	content:"architectuur";
    font-size: 28px;
    font-weight: normal;
    color: #6c4eb7;
}

.box2 span.info:before{
	content:"15 vacatures";
    margin:0;
    padding:0 0 28px 0;

    font-family: 'MaisonNeueMono';
    letter-spacing: normal;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
}
/*-----------button-3----------*/

.button_3{
  background: transparent url('../img/background01.jpg') no-repeat;
  height:200px;
  width:200px;
}
.box3{
  background:#fff;
  height:180px;
  width:180px;
  margin:auto;
  top:10px;
  position:relative;
  text-align:center;
}
.box3 h1{
font-size:10px;
position:relative;
}

.box3 span.title{
  position:relative;
}

.box3 span.title:before{
  content:"architectuur";
    font-size: 28px;
    font-weight: normal;
    color: #6c4eb7;
}

.box3 span.info{
  position:relative;
}

.box3 span.info:before{
  content:"15 vacatures";
    margin:0;
    padding:0 0 28px 0;

    font-family: 'MaisonNeueMono';
    letter-spacing: normal;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
}

/*-----------button-4----------*/

.button_4{
  background: transparent url('../img/background01.jpg') no-repeat;
  height:200px;
  width:200px;
  margin-bottom:40px;
}
.box4{
  background:#fff;
  height:180px;
  width:180px;
  margin:auto;
  top:10px;
  position:relative;
  text-align:center;
}
.box4 h1{
font-size:10px;
position:relative;
}

.box4 span.title:before{
  content:"architectuur";
    font-size: 28px;
    font-weight: normal;
    color: #6c4eb7;
}

.box4 span.info:before{
  content:"15 vacatures";
    margin:0;
    padding:0 0 28px 0;

    font-family: 'MaisonNeueMono';
    letter-spacing: normal;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
}

/*-----------button-5----------*/

.button_5{
  background: transparent url('../img/background01.jpg') no-repeat;
  height:200px;
  width:200px;
  margin-bottom:40px;
}
.box5{
  background:#fff;
  height:180px;
  width:180px;
  margin:auto;
  top:10px;
  position:relative;
  text-align:center;
}
.button_5 h1{
    margin:0;
    padding:0;
    font-size: 28px;
    font-weight: normal;
    color: #6c4eb7;
    display:none;
}

.box5 span.title:before{
  content:"architectuur";
    font-size: 28px;
    font-weight: normal;
    color: #6c4eb7;
}

.box5 span.info:before{
  content:"15 vacatures";
    margin:0;
    padding:0 0 0px 0;

    font-family: 'MaisonNeueMono';
    letter-spacing: normal;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
}

.box5 span.description:{

}

.box5 span.description:before{
  content:"Extra informatie";
    margin:0;
    padding:0 0 28px 0;
    display:0;

    font-family: 'MaisonNeueMono';
    letter-spacing: normal;
    font-weight: normal;
    font-size: 10px;
    text-transform: uppercase;
    line-height:100px;
}

/*-----------button-6----------*/

.button_6{
  background: transparent url('../img/background01.jpg') no-repeat;
  height:200px;
  width:200px;
  margin-bottom:7px;
}
.box6{
  background:#fff;
  height:180px;
  width:180px;
  margin:auto;
  top:10px;
  position:relative;
  text-align:center;
}
.button_6 h1{
    margin:0;
    padding:0;
    font-size: 28px;
    font-weight: normal;
    color: #6c4eb7;
    display:none;
}

.box6 span.title{
  position:relative;
}

.box6 span.title:before{
    content:"architectuur";
    font-size: 28px;
    font-weight: normal;
    color: #6c4eb7;
}

.box6 span.info{
  position:relative;
  z-index:999;
}

.box6 span.info:before{
  content:"15 vacatures";
    margin:0;
    padding:0 0 0px 0;

    font-family: 'MaisonNeueMono';
    letter-spacing: normal;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
}


/*-----------button-7----------*/

.button_7{
    background: transparent url('../img/background01.jpg') no-repeat;
  height:200px;
  width:200px;
  margin-bottom:40px;
}
.box7{
  background:#fff;
  height:180px;
  width:180px;
  margin:auto;
  top:10px;
  position:relative;
  text-align:center;
  display:none;
}
.button_7 h1{
    margin:0;
    padding:0;
    font-size: 28px;
    font-weight: normal;
    color: #6c4eb7;
    display:none;
}

.box7 span.title{
  position:relative;
}

.box7 span.title:before{
    content:"architectuur";
    font-size: 28px;
    font-weight: normal;
    color: #6c4eb7;
}

.box7 span.info{
  position:relative;
  z-index:999;
}

.box7 span.info:before{
  content:"15 vacatures";
    margin:0;
    padding:0 0 0px 0;

    font-family: 'MaisonNeueMono';
    letter-spacing: normal;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
}


/*-----------button-8----------*/

.button_8{
    background: transparent url('../img/background01.jpg') no-repeat;
  height:200px;
  width:200px;
  margin-bottom:40px;
}

/*.box8{
  background:#fff;
  height:180px;
  width:180px;
  margin:auto;
  top:10px;
  position:relative;
  text-align:center;
}*/

.button_8 h1{
    margin:0;
    padding:0;
    font-size: 28px;
    font-weight: normal;
    color: #6c4eb7;
    display:none;
}

.box8 span.title{
  position:relative;
}

.box8 span.title:before{
    content:"architectuur";
    font-size: 28px;
    font-weight: normal;
    color: #6c4eb7;
}

.box8 span.info{
  display:0;
  position:relative;
  z-index:999;
}

.box8 span.info:before{
    content:"15 vacatures";
    margin:0;
    padding:0 0 0px 0;

    font-family: 'MaisonNeueMono';
    letter-spacing: normal;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
}

.box8 span.description:{
  display:0;
}

.box8 span.description:before{
  content:"Extra informatie";
    margin:0;
    padding:0 0 28px 0;
    display:0;

    font-family: 'MaisonNeueMono';
    letter-spacing: normal;
    font-weight: normal;
    font-size: 10px;
    text-transform: uppercase;
    line-height:100px;
}


/*-----------button-9----------*/

.button_9{
    background: transparent url('../img/background01.jpg') no-repeat;
  height:200px;
  width:200px;
  margin-bottom:0px;
}
.box9{
  background:#fff;
  height:180px;
  width:180px;
  margin:auto;
  top:10px;
  position:relative;
  text-align:center;

}
.button_9 h1{
    margin:0;
    padding:0;
    font-size: 28px;
    font-weight: normal;
    color: #6c4eb7;
    display:none;
}

.box9 span.title{
  position:relative;
}

.box9 span.title:before{
    content:"architectuur";
    font-size: 28px;
    font-weight: normal;
    color: #6c4eb7;
}

.box9 span.info{
  position:relative;
  z-index:999;
  font-family: 'MaisonNeueMono';
  font-size: 12px;
  display:none;
}

.box9 span.info:after{
  content:" vacatures";
    margin:0;
    padding:0 0 0px 0;
    letter-spacing: normal;
    font-weight: normal;
    text-transform: uppercase;
}

/*-----------button-10----------*/

.button_10{
    background: transparent url('../img/background01.jpg') no-repeat;
  height:200px;
  width:200px;
  margin-bottom:40px;
}
.box10{
  background:#fff;
  height:180px;
  width:180px;
  margin:auto;
  top:0px;
  position:relative;
  text-align:center;
}
.button_10 h1{
    margin:0;
    padding:0;
    font-size: 28px;
    font-weight: normal;
    color: #6c4eb7;
    display:none;
}

.box10 span.title{
  position:relative;
}

.box10 span.title:before{
    content:"architectuur";
    font-size: 28px;
    font-weight: normal;
    color: #6c4eb7;
}

.box10 span.info{
  position:relative;
  z-index:999;
}

.box10 span.info:before{
  content:"15 vacatures";
    margin:0;
    padding:0 0 0px 0;

    font-family: 'MaisonNeueMono';
    letter-spacing: normal;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
}

.under{
    background:#eee;
    height:180px;
    width:180px;
    margin:auto;
    top:10px;
    position:relative;
    text-align:center;
    top:10px;
}


/*------------------box11--------*/


.button_11{
    background: transparent url('../img/background01.jpg') no-repeat;
  height:200px;
  width:200px;
  margin-bottom:40px;
}
.box11{
  background:#fff;
  height:180px;
  width:180px;
  margin:auto;
  top:10px;
  position:relative;
  text-align:center;

}
.button_11 h1{
    margin:0;
    padding:0;
    font-size: 28px;
    font-weight: normal;
    color: #6c4eb7;
}

.box11 span.title{
  position:relative;
}

.box11 span.title:before{
    content:"architectuur";
    font-size: 28px;
    font-weight: normal;
    color: #6c4eb7;
}

.box11 span.info{
  position:relative;
  z-index:999;
}

.box11 span.info:before{
  content:"15 vacatures";
    margin:0;
    padding:0 0 0px 0;

    font-family: 'MaisonNeueMono';
    letter-spacing: normal;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    display:0;
}

.box11 p.info{
  margin:0px;
  opacity:0;

  font-family: 'MaisonNeueMono';
  letter-spacing: normal;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  display:0;
  margin-top:5px;

}

.box11 span.description:{
  opacity:0;
  display:none;
}

.box11 span.description:before{
  content:"Extra informatie";
    margin:0;
    padding:0 0 28px 0;

    font-family: 'MaisonNeueMono';
    letter-spacing: normal;
    font-weight: normal;
    font-size: 10px;
    text-transform: uppercase;
    line-height:100px;

}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
